@font-face {
    font-family: 'mixta_pro';
    src: url('assets/fonts/mixtapro-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/mixtapro-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'mixta_pro';
    src: url('assets/fonts/mixtapro-boldit-webfont.woff2') format('woff2'),
         url('assets/fonts/mixtapro-boldit-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'mixta_pro';
    src: url('assets/fonts/mixtapro-light-webfont.woff2') format('woff2'),
         url('assets/fonts/mixtapro-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'mixta_pro';
    src: url('assets/fonts/mixtapro-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/mixtapro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mixta_pro';
    src: url('assets/fonts/mixtapro-regularit-webfont.woff2') format('woff2'),
         url('assets/fonts/mixtapro-regularit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'cartograph_cf';
    src: url('assets/fonts/cartographcf-extralightitalic-webfont.woff2') format('woff2'),
         url('assets/fonts/cartographcf-extralightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'acherus_grotesque';
    src: url('assets/fonts/acherusgrotesque-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/acherusgrotesque-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'acherus_grotesque';
    src: url('assets/fonts/acherusgrotesque-bolditalic-webfont.woff2') format('woff2'),
         url('assets/fonts/acherusgrotesque-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'acherus_grotesque';
    src: url('assets/fonts/acherusgrotesque-regita-webfont.woff2') format('woff2'),
         url('assets/fonts/acherusgrotesque-regita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'acherus_grotesque';
    src: url('assets/fonts/acherusgrotesque-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/acherusgrotesque-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}  

html {
    background: #FFF8E4;
    color: #272A45;
    font-size: 16px;
    font-family: 'acherus_grotesque', Georgia, 'Times New Roman', Times, serif;

    position: relative;
    height: 100%;
}

html::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1001;

    width: 15em;
    height: 8em;
    top: 0;
    left: 0;
    
    background: url('assets/images/shapes.svg') no-repeat;
    background-size: cover;
    transform: rotate(0.5turn);
}

footer {
    height: 8em;
    position: relative;
    grid-area: footer;
}

footer::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1001;

    width: 15em;
    height: 8em;
    bottom: 0;
    right: 0;
    
    background: url('assets/images/shapes.svg') no-repeat;
    background-size: cover;
}

body {
    padding-top: 8em;
    margin: 0;

    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

header {
    text-align: center;
    grid-area: header;
    font-family: 'mixta_pro', Georgia, 'Times New Roman', Times, serif;
}

nav {
    text-transform: lowercase;
    font-size: 1.5em;
    font-weight: 300;
}

nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 0.5em;
}
nav li:last-child {
    margin-right: 0;
}

h1 {
    text-transform: lowercase;
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.1em;
    position: relative;
}
h1::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1000;

    width: 3.6em;
    height: 0.5em;
    margin-left: calc(50% - 1.8em);
    bottom: -0.1em;

    background-color: #D19245;
}

a {
    color: inherit;
}

nav a {
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #D19245;
    text-decoration: underline;
}

.subheading {
    font-family: 'cartograph_cf', 'Courier New', Courier, monospace;
    font-weight: 200;
    font-style: italic;
    text-transform: lowercase;
    font-size: 0.8em;
}

main {
    margin-top: 1em;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    grid-area: main;

    font-size: 0.8em;
}

p {
    line-height: 1.8;
}

@media (min-width: 600px) {
    html {
        font-size: 20px;
    }
    h1 {
        font-size: 6em;
    }
    main {
        margin-top: 3em;
    }
}