:root {
  --color-1: #fff;
  --color-2: #272A45;
  --color-3: #D19245;
}

header {
  margin-top: 0;
}

h1 {
  margin: 1rem 5rem;
  line-height: 1;
}

main {
  column-gap: 5rem;
  column-rule: 1px solid var(--color-3);
  column-gap: 5rem;
}

@media (min-width: 70rem) {
  main {
    max-width: 60rem;
    column-count: 2;
  }
}
@media (min-width: 100rem) {
  main {
    max-width: 90rem;
    column-count: 3;
  }
}
